{% extends 'npi/supplier_pricing/view.html' %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}


{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Export to OpenERP' '#' %}
{% endblock %}

{% block cssfiles %}
    <link href=" {% static 'autocomplete_light/vendor/select2/dist/css/select2.css' %}" type="text/css" media="all" rel="stylesheet" />
    <link href=" {% static 'autocomplete_light/select2.css' %}" type="text/css" media="all" rel="stylesheet" />
{% endblock %}

{% block jsfiles %}
    <script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/vendor/select2/dist/js/select2.full.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4 form-group {% if form.quote_quantity.errors %}has-error{% endif %}">
                    <label class='control-label' for="{{ form.quote_quantity.name }}">{{ form.quote_quantity.label }}</label>
                    <br/>
                    <small class="form-text text-muted">{{ form.quote_quantity.help_text }}</small>

                    {{ form.quote_quantity.errors }}
                    {{ form.quote_quantity }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group {% if form.username.errors %}has-error{% endif %}">
                    <label class='control-label' for="{{ form.username.name }}">{{ form.username.label }}</label>
                    <br/>
                    <small class="form-text text-muted">{{ form.username.help_text }}</small>

                    {{ form.username.errors }}
                    {{ form.username }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group {% if form.password.errors %}has-error{% endif %}">
                    <label class='control-label' for="{{ form.password.name }}">{{ form.password.label }}</label>
                    <br/>
                    <small class="form-text text-muted">{{ form.password.help_text }}</small>

                    {{ form.password.errors }}
                    {{ form.password }}
                </div>
            </div>
            <div class="row">
                <input type="submit" class="btn btn-primary" value="Export"/>
            </div>
        </form>
    </div>
{% endblock %}