{% extends 'npi/supplier_info/view.html' %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Upload' 'npi:uploadSupplierInfo' project_id=project.id %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 form-group {% if form.spreadsheet.errors %}has-error{% endif %}">
                    <label class='control-label' for="{{ form.spreadsheet.name }}">{{ form.spreadsheet.label }}</label>
                    <br/>
                    <small id="bomTextHelp" class="form-text text-muted">{{ form.spreadsheet.help_text }}</small>

                    {{ form.spreadsheet.errors }}
                    {{ form.spreadsheet }}
                </div>
            </div>
            <div class="row" style="padding-bottom: 10px">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-primary" value="Upload"/>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-12">
                <h2>{{ project.customer_name }} <span class="description">{{ project.description|default_if_none:'' }}</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-condensed table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Products</th>
                            <th>Supplier Information</th>
                            <th>Web Pricing</th>
                            <th>Quotation Quantities</th>
                            <th>Create Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> {{ project.products }} </td>
                            <td> {{ project.supplier_info_state_string }} </td>
                            <td> {% if project.web_pricing %}Yes{% else %}No{% endif %} </td>
                            <td> {{ project.quotation_quantities }} </td>
                            <td> {{ project.create_date }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <label>Suppliers</label>
                    {% render_table table %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}