{% extends 'base/header.html' %}
{% load django_bootstrap_breadcrumbs %}
{% block html_body %}

    {% load staticfiles %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div id="header-controls" class="row" style="padding-bottom: 5px">
                    {% if controls.form_title %}
                        <div class="form-title">{{ controls.form_title }}</div>
                    {% endif %}

                    {% block breadcrumbs %}
                        {% breadcrumb "Home" "/" %}
                    {% endblock %}

                    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}

                    <div class="control-container">
                        {% if controls.buttons %}
                            {% for button in controls.buttons %}
                                <a id="{{ button.id }}" class="{{ button.class }}" href="{{ button.link }}" type="button"
                                    {% if button.extra_attrs %}
                                       {% for attribute in button.extra_attrs %}
                                           {{ attribute.key }}="{{ attribute.val }}"
                                       {% endfor %}
                                    {% endif %}>
                                {{ button.text }}
                                </a>
                            {% endfor %}
                        {% endif %}

                        <div id="navigation-buttons" align="right">
                            {% if controls.record_navigation_buttons %}
                                {% for button in controls.record_navigation_buttons %}
                                    <a id="{{ button.id }}" class="{{ button.class }}" href="{{ button.link }}" type="button">{{ button.text }}</a>
                                {% endfor %}
                            {% endif %}
                        </div>
                        {% block button_controls %}

                        {% endblock %}
                    </div>

                </div>
                <div id="content" class="row" style="padding: 10px 10px 20px 10px;">
                    {% block formset_js %}{% endblock %}
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <script>
{#      When set to true, ajax-view-modal.js will refresh the page when all open modals have closed #}
        $.ajax_refresh_page = {% if ajax_refresh_page %}true{% else %}false{% endif %};
    </script>

{% endblock %}