{% extends navigation_template %}

{% block body %}
    <form id="deleteModalForm" method="post" action="{{ post_url }}">
        <div class="form-group">
            {% block message %}<label>Are you sure you want to delete {{ object }}?</label>{% endblock %}
            {% csrf_token %}
        </div>
        {% if submit_button %}
            <div class="form-group">
                <button type="submit" class="btn btn-danger">Delete</button>
                {% if cancel_url %}
                    <a class="btn btn-default" href="{{ cancel_url }}">Cancel</a>
                {% endif %}
            </div>
        {% endif %}
    </form>


{% endblock %}